@model IEnumerable<Task3.Models.UserViewModel>

@{
    ViewBag.Title = "Users";
}
@if (Request.IsAuthenticated)
{
    <h2>Users</h2>

    <form method="post">
        <div class="nl">
            <div id="toolbar">
                <button type="submit" formaction="@Url.Action("BlockAsync")" formmethod="post" class="btn"><img src="~/Content/icons/block.png" /></button>
                <button type="submit" formaction="@Url.Action("UnlockAsync")" formmethod="post" class="btn"><img src="~/Content/icons/icons8-unlock-security-lock-with-permission-granted-to-access-24.png" /></button>
                <button type="submit" formaction="@Url.Action("DeleteAsync")" formmethod="post" class="btn"><img src="~/Content/icons/icons8-delete-24.png" /></button>
            </div>
            <br />
            <table class="table table-hover table-bordered ">
                <tbody class="table-responsive ">
                    <tr><th>@Html.CheckBox("CheckAll", false, new { id = "select_all" })</th><th>Id</th><th>Email</th><th>User Name</th><th>Date of registration</th><th>Last Login</th><th>Status</th></tr>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedUsers"
                                       id="@user.UserId" value="@user.Role"
                                       class="someClass">
                                <input name="selectedUsers" type="hidden" id="@user.UserId" value="@user.UserId" class="someClass" />
                            </td>
                            <td>@user.UserId</td>
                            <td>@user.Email</td>
                            <td>@user.UserName</td>
                            <td>@user.RegistrationDate</td>
                            <td>@user.LastLogIn</td>
                            <td>@user.Role</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
}
else
{
    Response.Redirect("Contact");
}

<script>
    $('#select_all').click(function () {
        $('.someClass').prop('checked', this.checked)
    });
</script>
